{% load static %}
{% include 'base.html' %}
{% block content %}
    {% if messages %}
        {% for i in messages %}
       <script>
           Swal.fire({
        icon: 'success',
        title: 'Added',
        text: 'Location has been Added Successfully!',
        footer: '<a style="color:#598CF7" href=" {% url 'view_location' %}">View Location </a>'
      }) 
     
      
       </script>
       
        {% endfor %}
      
      {% endif %}
<div class="theme-layout" style="background-color: rgb(3 105 161);">

	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
						
									<div class="widget stick-widget">
										<h4 class="widget-title">Location Info</h4>
										<ul class="naves">
											<li>
												<i class="ti-info-alt"></i>
												<a href="{% url 'view_location' %}"title="">View Location</a>
											</li>
											<li>
												<i class="ti-mouse-alt"></i>
												<a href="{% url 'dashboard' %}" title="">Main Menu</a>
											</li>
											
										</ul>
									</div><!-- settings widget -->										
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="editing-info">
										<h5 class="f-title"><i class="ti-info-alt"></i> Add Location Information</h5>

										<form id="addLocationForm" action="{% url 'add_location' %}" method="POST">
                                            {% csrf_token %}
											<div class="form-group ">	
											  <input type="text" id="input" name="location_name" required="required"/>
											  <label class="control-label" for="input">Location Name</label><i class="mtrl-select"></i>
											</div>
											
										
											<div class="submit-btns">
												<button  class="mtr-btn signin" ><span><a href="{% url 'dashboard' %}">Back</a></span></button>
												<button type="submit" form="addLocationForm" class="mtr-btn"><span>Add</span></button>
											</div>
										</form>
									</div>
								</div>	
							</div>
							
									
				</div>
			</div>
		</div>	
	</section>

	

</div>
	
	
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/map-init.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

{% endblock %}