{% load static %}
{% include 'base.html' %}
{% block content %}

    {% if messages %}
        {% for i in messages %}
       <script>
           Swal.fire({
        icon: 'success',
        title: 'Added',
        text: 'Camera has been Added Successfully!',
        footer: '<a style="color:#598CF7" href=" {% url 'view_camera' %}">View Cameras </a>'
      }) 
     
      
       </script>
       
        {% endfor %}
      
      {% endif %}
<div class="theme-layout" style="background-color: rgb(3 105 161);">
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									
									<div class="widget stick-widget">
										<h4 class="widget-title">Camera info</h4>
										<ul class="naves">
											<li>
												<i class="ti-info-alt"></i>
												<a href="{% url 'view_camera' %}" title="">View Cameras</a>
											</li>
											
											<li>
												<i class="ti-lock"></i>
												<a href="{% url 'dashboard' %}" title="">Main Menu</a>
											</li>
										</ul>
									</div><!-- settings widget -->										
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="editing-info">
										<h5 class="f-title"><i class="ti-info-alt"></i> Add Camera Information</h5>

										<form id="addBoothForm" action="{% url 'add_camera' %}" method="POST">
                                            {% csrf_token %}
											<div class="form-group ">	
											  <input type="text" id="input" name="camera_name" required="required"/>
											  <label class="control-label" for="input">Camera Name</label><i class="mtrl-select"></i>
											</div>
											<div class="form-group ">	
												<input type="text" id="input" name="ip_address" required="required"/>
												<label class="control-label" for="input">IP Address</label><i class="mtrl-select"></i>
											  </div>
											<div class="form-group">
												<label for="location">Select Location:</label>
												<select class="form-control" id="location" name="location">
													{% for location in locations %}
														<option value="{{ location.id }}">{{ location.name }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="form-group">
												<label for="booth">Select Booth:</label>
												<select class="form-control" id="booth" name="booth">
													{% for booth in booths %}
														<option value="{{ booth.id }}">{{ booth.name }}</option>
													{% endfor %}
												</select>
											</div>
											
										
											<div class="submit-btns">
												<button class="mtr-btn signin" ><span><a href="{% url 'dashboard' %}">Back</a></span></button>
												<button type="submit" form="addBoothForm" class="mtr-btn"><span>Add</span></button>
											</div>
										</form>
									</div>
								</div>	
							</div>
							
									
				</div>
			</div>
		</div>	
	</section>


</div>
	<div class="side-panel">
			<h4 class="panel-title">General Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>use night mode</span>
					<input type="checkbox" id="nightmode1"/> 
					<label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notifications</span>
					<input type="checkbox" id="switch22" /> 
					<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notification sound</span>
					<input type="checkbox" id="switch33" /> 
					<label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>My profile</span>
					<input type="checkbox" id="switch44" /> 
					<label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show profile</span>
					<input type="checkbox" id="switch55" /> 
					<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
			<h4 class="panel-title">Account Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>Sub users</span>
					<input type="checkbox" id="switch66" /> 
					<label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>personal account</span>
					<input type="checkbox" id="switch77" /> 
					<label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Business account</span>
					<input type="checkbox" id="switch88" /> 
					<label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show me online</span>
					<input type="checkbox" id="switch99" /> 
					<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Delete history</span>
					<input type="checkbox" id="switch101" /> 
					<label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Expose author name</span>
					<input type="checkbox" id="switch111" /> 
					<label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
		</div><!-- side panel -->		
	
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/map-init.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

{% endblock %}