	{% load static %}
	{% include 'header_login.html' %}

	<form action={% url 'changepassword' %} method="POST">
	{% csrf_token %}
	<div class="form-group">	
	<input type="password" id="input" name="newpassword" required="required"/>
	<label class="control-label" for="input">New Password</label><i class="mtrl-select"></i>
	</div>
	<div class="form-group">	
	<input type="password" id="password" name="confirmpassword" required="required"/>
	<label class="control-label" for="password">Confirm Password</label><i class="mtrl-select"></i>
	</div>

	<div class="submit-btns">

	<button  class="bg-sky-700 hover:bg-sky-800 transition-all duration-300 hover:scale-105 rounded py-2 px-4" type="submit"><span>Change</span></button>
	<button  onclick="history.back()" class="bg-sky-700 hover:bg-sky-800 transition-all duration-300 hover:scale-105 rounded py-2 px-4" type="button"><span>Back</span></button>


	</div>
	<center>
	{% if messages %}
	{% for i in messages %}
	<script> swal("{{ i }}")</script>
	{% endfor %}

	{% endif %}
	</center>
	{% include 'footer_login.html' %}