{% load static %}
{% include 'header_login.html' %}

<form action={% url 'change-password' %} method="POST">
    {% csrf_token %}
    <div class="form-group">   
        <input type="password" id="inputoldpassword" name="old_password" required="required"/>
        <label class="control-label" for="inputnewpassword">Old Password</label><i class="mtrl-select"></i>
    </div>
    <div class="form-group">   
        <input type="password" id="input" name="new_password" required="required"/>
        <label class="control-label" for="input">New Password</label><i class="mtrl-select"></i>
    </div>
    <div class="form-group">   
        <input type="password" id="password" name="confirm_password" required="required"/>
        <label class="control-label" for="password">Confirm Password</label><i class="mtrl-select"></i>
    </div>

    <div class="submit-btns">
        <button class="bg-sky-700 hover:bg-sky-800 transition-all duration-300 hover:scale-105 rounded py-2 px-4" type="submit"><span>Change</span></button>
        <button onclick="history.back()" class="bg-sky-700 hover:bg-sky-800 transition-all duration-300 hover:scale-105 rounded py-2 px-4" type="button"><span>Back</span></button>
    </div>

    {% if form.errors %}
    <ul class="errors">
        {% for field_errors in form.errors.values %}
        {% for error in field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% include 'footer_login.html' %}
