{% load static %}
{% include 'base.html' %}
{% block content %}
<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="row" id="page-contents">
						<div class="col-lg-3">
						</div>
						
						<div class="col-lg-6">

							<div class="col-lg-12">
								<h2>
									Overview
								</h2>
								<p>
									Welcome to the CarPix Dashboard! This section provides a comprehensive overview of key components and functionalities available in the dashboard, empowering users to efficiently manage garage activities and monitor property conditions.

								</p>
							</div>
							<div class="row mb-3">
								<div class="col-xl-4 col-sm-6 py-2">
									<div class="card bg-white rounded text-dark h-100">
										<div class="card-body">
											<div class="rotate">
												<i style="color:#4f93ce;" class="fa fa-user fa-4x"></i>
											</div>
											<h6  style="color:#4f93ce;" class="text-uppercase">Users</h6>
											<h1  class="display-4">{{ users.count }}</h1>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-sm-6 py-2">
									<div class="card bg-white rounded text-dark h-100">
										<div class="card-body">
											<div class="rotate">
												<i  style="color:#4f93ce;" class="fa fa-car fa-4x"></i>
											</div>
											<h6 class="text-uppercase" style="color:#4f93ce;">Vehicles</h6>
											{% if vehicles.count %}
											<h1 class="display-4" >{{ vehicles.count }}</h1>
											{% else %}
											<h1 class="display-4">0</h1>
											{% endif %}

										</div>
									</div>
								</div>
								<div class="col-xl-4 col-sm-6 py-2">
									<div class="card bg-white text-dark h-100 rounded">
										<div class="card-body">
											
											<div class="rotate">
												<i style="color:#4f93ce;" class="fa  fa-check fa-4x"></i>
											</div>
											<h6 style="color:#4f93ce;" class="text-uppercase">Booths</h6>
											<h3 class="display-4">{{ booths.count }}</h3>
											
										</div>
									
									</div>
								</div>
								<div class="col-xl-4 col-sm-6 py-2 ">
									<div class="card bg-white rounded text-dark ">
										<div class="card-body">
											<div class="rotate">
												<i style="color:#4f93ce;" class="fa fa-location-arrow fa-4x"></i>
											</div>
											<h6 style="color:#4f93ce;" class="text-uppercase">Location Metrics</h6>
											<h1 class="display-4">{{ locations.count }}</h1>
										</div>
										
									</div>
									
								</div>
								
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>	
</section>
{% endblock %}