{% load static %}
<footer>
  <div class="container ">
      <div class="row h-50">
          <div class="col-lg-4 col-md-4">
              <div class="widget">
                  <div class="foot-logo pl-20">
                      <div class="logo">
                          <a href={% url 'home' %}><img class="w-40 h-auto" src="../media/logo.png" alt=""></a>
                      </div>
                     
                      
                  </div>
                  
              </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="widget">
                <div class="foot-logo">
                    
                    <p>
                      We provide the best ways possible on the internet for interaction and communication among our esteemed users.
                  </p>
                    </p>
                </div>
                <ul class="location">
                    <li>
                        <i class="ti-map-alt"></i>
                        <p>Fast-NUCES CFD-Campus</p>
                    </li>
                    <li>
                        <i class="ti-mobile"></i>
                        <p>(041) 111 128 128</p>
                    </li>
                </ul>
            </div>
        </div>
          <!--   -->
          <!-- <div class="col-lg-2 col-md-4">
              <div class="widget">
                  <div class="widget-title">
                      <h4>useful links</h4>
                  </div>
                  <ul class="list-style">
                      <li><a href="#" title="">leasing</a></li>
                      <li><a href="#" title="">submit route</a></li>
                      <li><a href="#" title="">how does it work?</a></li>
                      <li><a href="#" title="">agent listings</a></li>
                      <li><a href="#" title="">view All</a></li>
                  </ul>
              </div>
          </div> -->
          <!-- <div class="col-lg-2 col-md-4">
              <div class="widget">
                  <div class="widget-title">
                      <h4>download apps</h4>
                  </div>
                  <ul class="colla-apps">
                      <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
                      <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a></li>
                      <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a></li>
                  </ul>
              </div>
          </div> -->
      </div>
  </div>
</footer>
<!-- footer -->

</div>
<!-- <div class="side-panel">
  <h4 class="panel-title">General Setting</h4>
  <form method="post">
      <div class="setting-row">
          <span>use night mode</span>
          <input type="checkbox" id="nightmode1" />
          <label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
      </div>
      <div class="setting-row">
          <span>Notifications</span>
          <input type="checkbox" id="switch22" />
          <label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
      </div>
      <div class="setting-row">
          <span>Notification sound</span>
          <input type="checkbox" id="switch33" />
          <label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
      </div>
      <div class="setting-row">
          <span>My profile</span>
          <input type="checkbox" id="switch44" />
          <label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
      </div>
      <div class="setting-row">
          <span>Show profile</span>
          <input type="checkbox" id="switch55" />
          <label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
      </div>
  </form>
  <h4 class="panel-title">Account Setting</h4>
  <form method="post">
      <div class="setting-row">
          <span>Sub users</span>
          <input type="checkbox" id="switch66" />
          <label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
      </div>
      <div class="setting-row">
          <span>personal account</span>
          <input type="checkbox" id="switch77" />
          <label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
      </div>
      <div class="setting-row">
          <span>Business account</span>
          <input type="checkbox" id="switch88" />
          <label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
      </div>
      <div class="setting-row">
          <span>Show me online</span>
          <input type="checkbox" id="switch99" />
          <label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
      </div>
      <div class="setting-row">
          <span>Delete history</span>
          <input type="checkbox" id="switch101" />
          <label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
      </div>
      <div class="setting-row">
          <span>Expose author name</span>
          <input type="checkbox" id="switch111" />
          <label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
      </div>
  </form>
</div> -->

<!-- side panel -->

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src= {% static 'js/main.min.js' %}></script>
<script src={% static 'js/script.js' %}></script>

<!-- CreatePost Javascript -->
<script>

const modal = document.querySelector('.modal')
const createPost = document.querySelector('.createpost')
const close = document.querySelector('.close')
const close2 = document.querySelector('.close2')
const close3 = document.querySelector('.close3')
const cancel=document.querySelector('.cancel')
const cancel2=document.querySelector('.cancel2')
const cancel3=document.querySelector('.cancel3')
const next222=document.querySelector('.next222')
const next3=document.querySelector('.next3')
const modal2=document.querySelector('.modal2');
const modal3=document.querySelector('.modal3');
const submit222=document.querySelector('.submit222');
createPost.addEventListener('click',()=>{

modal.classList.remove("hidden");
modal.classList.add("show");

})
close.addEventListener('click',()=>{

modal.classList.remove("show");
modal.classList.add("hidden");

})
close2.addEventListener('click',()=>{

modal2.classList.remove("show");
modal2.classList.add("hidden");
        
})
close3.addEventListener('click',()=>{

modal3.classList.remove("show");
modal3.classList.add("hidden");
})
cancel.addEventListener('click',()=>{

modal.classList.remove("show");
modal.classList.add("hidden");

})
cancel2.addEventListener('click',()=>{

modal2.classList.remove("show");
modal2.classList.add("hidden");   
})
cancel3.addEventListener('click',()=>{
    
modal3.classList.remove("show");
modal3.classList.add("hidden");
})
next222.addEventListener('click',()=>{

modal.classList.remove("show");
modal.classList.add("hidden");

modal2.classList.add("show");
modal2.classList.remove("hidden");




})
next3.addEventListener('click',()=>{

    modal2.classList.remove("show");
    modal2.classList.add("hidden");
    modal3.classList.remove("hidden");
    modal3.classList.add("show");
    
    
    
    
    })
submit222.addEventListener('click',()=>{
modal3.classList.add("hidden");
modal3.classList.remove("show");
})

</script>


<script>

window.addEventListener('DOMContentLoaded',() =>
{
const postOption = document.querySelector('.postOption')
const optionList = document.querySelector('.optionList')

postOption.addEventListener('click',()=>{
if(optionList.classList.contains('hidden'))
{
  optionList.classList.remove("hidden");
  optionList.classList.add("show");
}
else{
  optionList.classList.remove("show");
  optionList.classList.add("hidden");
  

}

})
}
)   
</script>
<!-- Edit Post Script Is here -->
<script>

document.getElementById('editpost').onclick = function() {
var upbutton=document.querySelector(".upbutton")
var disabled = document.getElementById("name").disabled;
if (disabled) {
  document.getElementById("name").disabled = false;
  upbutton.classList.remove("hidden")
  upbutton.classList.add("show")
}
else {
  document.getElementById("name").disabled = true;
  upbutton.classList.remove("show")
  upbutton.classList.add("hidden")
}
}



</script>


</body>

</html>