{% load static %}
{% include 'header_login.html' %}
<h2 class="ld:text-5xl md:text-3xl text-xl text-center">Forget Password?</h2>
<form action={% url 'forgetpassword' %} method="POST">
{% csrf_token %}

<div class="form-group">	
<input type="email" id="email" name="email" required="required"/>
<label class="control-label" for="email">Enter Email</label><i class="mtrl-select"></i>
</div>


<div class="submit-btns">

<button  class="bg-sky-700 hover:bg-sky-800 transition-all duration-300 hover:scale-105 rounded py-2 px-4" type="submit"><span>Send</span></button>

</div>
{% include 'footer_login.html' %}