{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>View-Booth </title>
	<link rel="icon" href="{% static 'images/fav.png' %}" type="image/png" sizes="16x16">

	<link rel="stylesheet" href="{% static 'css/main.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"></script>

	<script src="{% static 'js/html2canvas.js' %}"></script>

</head>

<body>
	{% if messages %}
	{% for i in messages %}
	<script>
		Swal.fire({
			icon: 'success',
			title: 'Added',
			text: 'Location has been Updated Successfully!',
			footer: '<a style="color:#598CF7" href=" {% url 'view_location' %}">View Location </a>'
      })


	</script>

	{% endfor %}

	{% endif %}
	<div class="theme-layout" style="background-color: rgb(3 105 161);">
		<div>

			<h3 class="text-5xl text-center py-3 text-white shadow-md">Cameras Live streaming</h3>
		</div>


		<section>
			<div class="gap gray-bg">
				<div class="container-fluid">
					<div class="row">

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="login-reg-bg">
								<div class="log-reg-area sign">
									<div class="messages">
										{% for message in messages %}
										<div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
											role="alert">
											{{ message }}
										</div>
										{% endfor %}
									</div>
									<h2 class="log-title">SJU Garage</h2>
									<form action={% url 'add-vehicle' %} method="POST">
										{% csrf_token %}
										<div style="border: 1px solid #ccc;border-radius: 5px;" class="form-group">
											<select id="locationSelect" class="form-control">
												{% for option in booths %}
												{% if booth.id == option.id %}
												<option value="{{ option.id }}" selected>{{ option.name }}</option>
												{% else %}
												<option value="{{ option.id }}">{{ option.name }}</option>
												{% endif %}
												{% endfor %}
											</select>

										</div>
										<div class="form-group">
											<input type="text" name="license_number" required="required" />
											<label class="control-label" for="input">License Plate Number</label><i
												class="mtrl-select"></i>
										</div>
										<div class="form-group">
											<input type="text" name="contract_number" required="required" />
											<label class="control-label" for="input">Contract Number</label><i
												class="mtrl-select"></i>
										</div>
										<div class="form-group">
											<textarea name="contract_number" rows="5" cols="50"
												required="required"></textarea>
											<label class="control-label" for="input">Notes</label><i
												class="mtrl-select"></i>
										</div>
										

										<div class="submit-btns">
											<button type="submit" class="mtr-btn signin"><span>Submit</span></button>
										</div>
										
										

									</form>
								</div>

							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="tab-pane active fade show" id="frends">
								<div class="row">
									{% for camera in cameras %}
									<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 m-3">
										<div class="card mb-3" style="width: 120%; height: 100%;">
											
											<img src="{{ camera.ip_address }}" style="width: 100%; height: 80%;" class="card-img-top" id="camera_view{{ camera.id }}"></img>
											<div class="card-body">
												<h5 class="card-title">Camera Name:<b> {{ camera.name }}</b></h5>
												<button type="button"  class="mtr-btn signin capture-camera-btn" data-toggle="modal"  data-target="#cameraModal{{ camera.id }}" onclick="captureScreenshot({{ camera.id }})" ><b style="color:white;">Select</b></button>
											</div>
										</div>
									</div>

									{% endfor %}
								</div>
								<button type="button" class="btn btn-primary" id="captureAllScreenshotsBtn">Capture All Screenshots</button>


							</div>
						</div>
						
					</div>
				</div>
			</div>



	</div>
	</div>
	</div>
	</section>

	<!-- Modal -->
	{% for camera in cameras %}
	<div class="modal fade" id="cameraModal{{ camera.id }}" tabindex="-1" role="dialog" aria-labelledby="cameraModalLabel{{ camera.id }}" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="cameraModalLabel{{ camera.id }}">You are Watching {{camera.name}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="condition{{ camera.id }}">Condition:</label>
						<select class="form-control" id="condition{{ camera.id }}">
							<option value="option1">Option 1</option>
							<option value="option2">Option 2</option>
						</select>
					</div>
					<div class="form-group">
						<label for="notes{{ camera.id }}">Notes:</label>
						<textarea class="form-control" id="notes{{ camera.id }}" rows="3"></textarea>
					</div>
					<div class="screenshot-container">
						<img src="" alt="Camera Screenshot" class="img-fluid" id="cameraFeed{{ camera.id }}">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="takeScreenshot({{ camera.id }})">Take Screenshot</button>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="widget">
						<div class="foot-logo">
							<div class="logo">
								<a href="index-2.html" title=""><img src="images/logo.png" alt=""></a>
							</div>
							<p>
								The trio took this simple idea and built it into the world’s leading carpooling
								platform.
							</p>
						</div>
						<ul class="location">
							<li>
								<i class="ti-map-alt"></i>
								<p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
							</li>
							<li>
								<i class="ti-mobile"></i>
								<p>+1-56-346 345</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-4">
					<div class="widget">
						<div class="widget-title">
							<h4>follow</h4>
						</div>
						<ul class="list-style">
							<li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/"
									title="">facebook</a></li>
							<li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en"
									title="">twitter</a></li>
							<li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en"
									title="">instagram</a></li>
							<li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover"
									title="">Google+</a></li>
							<li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/"
									title="">Pintrest</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-4">
					<div class="widget">
						<div class="widget-title">
							<h4>Navigate</h4>
						</div>
						<ul class="list-style">
							<li><a href="about.html" title="">about us</a></li>
							<li><a href="contact.html" title="">contact us</a></li>
							<li><a href="terms.html" title="">terms & Conditions</a></li>
							<li><a href="#" title="">RSS syndication</a></li>
							<li><a href="sitemap.html" title="">Sitemap</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-4">
					<div class="widget">
						<div class="widget-title">
							<h4>useful links</h4>
						</div>
						<ul class="list-style">
							<li><a href="#" title="">leasing</a></li>
							<li><a href="#" title="">submit route</a></li>
							<li><a href="#" title="">how does it work?</a></li>
							<li><a href="#" title="">agent listings</a></li>
							<li><a href="#" title="">view All</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-4">
					<div class="widget">
						<div class="widget-title">
							<h4>download apps</h4>
						</div>
						<ul class="colla-apps">
							<li><a href="https://play.google.com/store?hl=en" title=""><i
										class="fa fa-android"></i>android</a></li>
							<li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i
										class="ti-apple"></i>iPhone</a></li>
							<li><a href="https://www.microsoft.com/store/apps" title=""><i
										class="fa fa-windows"></i>Windows</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer><!-- footer -->
	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates
							Hub</a></span>
					<i><img src="images/credit-cards.png" alt=""></i>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="side-panel">
		<h4 class="panel-title">General Setting</h4>
		<form method="post">
			<div class="setting-row">
				<span>use night mode</span>
				<input type="checkbox" id="nightmode1" />
				<label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Notifications</span>
				<input type="checkbox" id="switch22" />
				<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Notification sound</span>
				<input type="checkbox" id="switch33" />
				<label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>My profile</span>
				<input type="checkbox" id="switch44" />
				<label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Show profile</span>
				<input type="checkbox" id="switch55" />
				<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
			</div>
		</form>
		<h4 class="panel-title">Account Setting</h4>
		<form method="post">
			<div class="setting-row">
				<span>Sub users</span>
				<input type="checkbox" id="switch66" />
				<label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>personal account</span>
				<input type="checkbox" id="switch77" />
				<label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Business account</span>
				<input type="checkbox" id="switch88" />
				<label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Show me online</span>
				<input type="checkbox" id="switch99" />
				<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Delete history</span>
				<input type="checkbox" id="switch101" />
				<label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
			</div>
			<div class="setting-row">
				<span>Expose author name</span>
				<input type="checkbox" id="switch111" />
				<label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
			</div>
		</form>
	</div>

	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="js/main.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/map-init.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script>
		function captureScreenshot(cameraId) {
			console.log("in it")
				var video = document.getElementById("camera_view" + cameraId);
				var target_img = document.getElementById("cameraFeed" + cameraId);
				html2canvas(video, { allowTaint: true }).then(function (canvas) {
					// console.log("canvas.toDataURL()",canvas.toDataURL())
					document.body.appendChild(target_img);
					console.log("target images", target_img)
					// console.log("documnet body", appendChild)
				});
			console.log("documnet body", document.body)
		}
	</script>
	
		


	<script>
		$(document).ready(function () {
			$('#searchInput').on('keyup', function () {
				var searchText = $(this).val().toLowerCase();
				$('#locationsTable tbody tr').each(function () {
					var rowText = $(this).text().toLowerCase();
					$(this).toggle(rowText.indexOf(searchText) > -1);
				});
			});
		});

		function deleteLocation(id) {
			var url = "/location/delete-camera/" + id;

			// Get CSRF token
			var csrftoken = getCookie('csrftoken');
			$("#delete_location" + id).remove();

			// Include CSRF token in AJAX request
			$.ajax({
				url: url,
				type: "DELETE",
				dataType: "json",
				beforeSend: function (xhr, settings) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				},
				success: function (data) {
					console.log("deleted", data)
					// Remove the deleted location's row from the table
					$("#delete_location" + id).remove();
				},
				error: function (xhr, status, error) {
					console.error("Error:", error);
				}
			});
		}


		// Function to get CSRF token from cookie
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					// Check if the cookie name matches the expected format
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						// Extract and decode the CSRF token
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
	</script>
<script>
    function captureScreenshot(cameraCard) {
        return html2canvas(cameraCard).then(function(canvas) {
            return canvas.toDataURL('image/png');
        });
    }

    function captureAllScreenshots() {
        var screenshots = [];
        var cameraCards = document.querySelectorAll('.card.mb-3');
        
        cameraCards.forEach(function(cameraCard) {
            captureScreenshot(cameraCard).then(function(screenshot) {
                screenshots.push(screenshot);
                if (screenshots.length === cameraCards.length) {
                    console.log(screenshots);
                }
            });
        });
    }

    document.getElementById("captureAllScreenshotsBtn").addEventListener("click", function() {
        captureAllScreenshots();
    });
</script>

</body>

</html>