{% load static %}
{% include 'base.html' %}
{% block content %}
    {% if messages %}
        {% for i in messages %}
       <script>
           Swal.fire({
        icon: 'success',
        title: 'Added',
        text: 'Location has been Updated Successfully!',
        footer: '<a style="color:#598CF7" href=" {% url 'view_location' %}">View Location </a>'
      }) 
     
      
       </script>
       
        {% endfor %}
      
      {% endif %}
<div class="theme-layout" style="background-color: rgb(3 105 161);">
  


	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									
									<div class="widget stick-widget">
										<h4 class="widget-title">Location info</h4>
										<ul class="naves">
											
											<li>
												<i class="ti-lock"></i>
												<a href="{% url 'dashboard' %}" title="">Main Menu</a>
											</li>
										</ul>
									</div><!-- settings widget -->										
								</aside>
							</div><!-- sidebar -->
                            <div class="col-lg-6">
                                <div class="central-meta">
                                    <div class="frnds">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Available Locations</a> <span>{{locations.count}}</span></li>
                                        </ul>
                            
                                        <!-- Search input -->
                                        <div class="input-group mt-3">
                                            <input type="text" id="searchInput" class="form-control" placeholder="Search...">
                                        </div>
                            
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active fade show" id="frends">
                                                <div class="table-responsive">
                                                    <table class="table" id="locationsTable">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Number of Booths</th>
                                                                <th>Number of Cameras</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for location in locations %}
                                                            <tr id="delete_location{{location.id}}">
                                                                <td>{{ location.name }}</td>
                                                                <td>{{ location.booth_set.count }}</td>
                                                                <td>{{ location.camera_set.count }}</td>
                                                                <td><button onclick="deleteLocation({{location.id}})" class="delete-location p-1 btn rounded" style="background-color: rgb(3 105 161);color:white;" data-ripple="">Delete</button></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
													<div class="submit-btns" style="text-align: right;">
														<button class="mtr-btn signin rounded"><span><a href="{% url 'dashboard' %}">Back</a></span></button>
													</div>
													
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
							
									
				</div>
			</div>
		</div>	
	</section>


</div>
	<div class="side-panel">
			<h4 class="panel-title">General Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>use night mode</span>
					<input type="checkbox" id="nightmode1"/> 
					<label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notifications</span>
					<input type="checkbox" id="switch22" /> 
					<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notification sound</span>
					<input type="checkbox" id="switch33" /> 
					<label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>My profile</span>
					<input type="checkbox" id="switch44" /> 
					<label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show profile</span>
					<input type="checkbox" id="switch55" /> 
					<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
			<h4 class="panel-title">Account Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>Sub users</span>
					<input type="checkbox" id="switch66" /> 
					<label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>personal account</span>
					<input type="checkbox" id="switch77" /> 
					<label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Business account</span>
					<input type="checkbox" id="switch88" /> 
					<label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show me online</span>
					<input type="checkbox" id="switch99" /> 
					<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Delete history</span>
					<input type="checkbox" id="switch101" /> 
					<label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Expose author name</span>
					<input type="checkbox" id="switch111" /> 
					<label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
		</div><!-- side panel -->		
	
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/map-init.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchInput').on('keyup', function () {
            var searchText = $(this).val().toLowerCase();
            $('#locationsTable tbody tr').each(function () {
                var rowText = $(this).text().toLowerCase();
                $(this).toggle(rowText.indexOf(searchText) > -1);
            });
        });
    });

    function deleteLocation(id) {
        var url = "/location/delete-location/" + id;
        
        // Get CSRF token
        var csrftoken = getCookie('csrftoken');
		$("#delete_location" + id).remove();
        
        // Include CSRF token in AJAX request
        $.ajax({
            url: url,
            type: "DELETE",
            dataType: "json",
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                console.log("deleted",data)
                // Remove the deleted location's row from the table
                $("#delete_location" + id).remove();
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }
    
    
    // Function to get CSRF token from cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Check if the cookie name matches the expected format
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    // Extract and decode the CSRF token
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
   
{% endblock %}